$light-color : #E2FCEF;
$light-purple: #9B287B;
$dark-purple : #5C164E;
$darkest-purple : #402039;
$light-green: #66DF1B;
$light-green--hover: rgb(128, 214, 75);

$yellow: #FFE815;
$red: #FF0000;
