@import '../../utilities/colors';


.home-container{
    background-color: $dark-purple;
    width:calc(100% - 5rem);
    min-height: 100vh;
    //for the navbar
    margin-left: 5rem;
    //padding-bottom to make footer stick
    padding-bottom: 2rem;
    &__heading{
        text-align: center;
        color:$light-color;
        padding-top: 2rem;
        font-weight: 700;
    }
}


//change max width according to the one in Navbar component
@media only screen and (max-width: 600px){
    .home-container{
        margin-top: 3rem;
        margin-left: 0;
        width: 100%;
    }
}